.form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 400px;
}
.recover {
    color: var(--text-color);
    text-align: end;
}

.error {
    color: var(--primary-color);
}
.success {
    color: 	#cbffc0;
}