.title {
	margin-top: 5rem;
	font-size: 35px;
	color: var(--primary-color);
	margin-bottom: 1rem;
	font-weight: bold;
}
.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 4rem
}
